In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_profiling import ProfileReport
from sklearn.preprocessing import OneHotEncoder ,StandardScaler
from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

# Importing Dataset

Since data is in form of excel file we have to use pandas read_csv to load the data

In [7]:
from google.colab import files
uploaded = files.upload()

Saving E Commerce Dataset.xlsx to E Commerce Dataset.xlsx

In [8]:
df = pd.read_excel(r'E Commerce Dataset.xlsx',sheet_name='E Comm')

In [9]:
df

,CustomerID,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
0,50001,1,4.0,Mobile Phone,3,6.0,Debit Card,Female,3.0,3,Laptop & Accessory,2,Single,9,1,11.0,1.0,1.0,5.0,159.93
1,50002,1,NaN,Phone,1,8.0,UPI,Male,3.0,4,Mobile,3,Single,7,1,15.0,0.0,1.0,0.0,120.90
2,50003,1,NaN,Phone,1,30.0,Debit Card,Male,2.0,4,Mobile,3,Single,6,1,14.0,0.0,1.0,3.0,120.28
3,50004,1,0.0,Phone,3,15.0,Debit Card,Male,2.0,4,Laptop & Accessory,5,Single,8,0,23.0,0.0,1.0,3.0,134.07
4,50005,1,0.0,Phone,1,12.0,CC,Male,NaN,3,Mobile,5,Single,3,0,11.0,1.0,1.0,3.0,129.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5625,55626,0,10.0,Computer,1,30.0,Credit Card,Male,3.0,2,Laptop & Accessory,1,Married,6,0,18.0,1.0,2.0,4.0,150.71
5626,55627,0,13.0,Mobile Phone,1,13.0,Credit Card,Male,3.0,5,Fashion,5,Married,6,0,16.0,1.0,2.0,NaN,224.91
5627,55628,0,1.0,Mobile Phone,1,11.0,Debit Card,Male,3.0,2,Laptop & Accessory,4,Married,3,1,21.0,1.0,2.0,4.0,186.42
5628,55629,0,23.0,Computer,3,9.0,Credit Card,Male,4.0,5,Laptop & Accessory,4,Married,4,0,15.0,2.0,2.0,9.0,178.90
5629,55630,0,8.0,Mobile Phone,1,15.0,Credit Card,Male,3.0,2,Laptop & Accessory,3,Married,4,0,13.0,2.0,2.0,3.0,169.04

In [10]:
df.dtypes

CustomerID                       int64
Churn                            int64
Tenure                         float64
PreferredLoginDevice            object
CityTier                         int64
WarehouseToHome                float64
PreferredPaymentMode            object
Gender                          object
HourSpendOnApp                 float64
NumberOfDeviceRegistered         int64
PreferedOrderCat                object
SatisfactionScore                int64
MaritalStatus                   object
NumberOfAddress                  int64
Complain                         int64
OrderAmountHikeFromlastYear    float64
CouponUsed                     float64
OrderCount                     float64
DaySinceLastOrder              float64
CashbackAmount                 float64
dtype: object

In [11]:
#EDA analysis

In [12]:
ProfileReport(df)

TypeError: ignored

# Data cleaning

1.After loading it is important to check null values in a column or a row
2.if it is present then following can be done, 
  a. Filling NaN values with mean or median or mode using fillna() method
  b. Imputing data using Imputation method in sklearn
  c. If there are less NaN values then we can drop those indexes as well

In [13]:
df.isnull().sum()      #finding the null values

CustomerID                       0
Churn                            0
Tenure                         264
PreferredLoginDevice             0
CityTier                         0
WarehouseToHome                251
PreferredPaymentMode             0
Gender                           0
HourSpendOnApp                 255
NumberOfDeviceRegistered         0
PreferedOrderCat                 0
SatisfactionScore                0
MaritalStatus                    0
NumberOfAddress                  0
Complain                         0
OrderAmountHikeFromlastYear    265
CouponUsed                     256
OrderCount                     258
DaySinceLastOrder              307
CashbackAmount                   0
dtype: int64

# Pipeline

In [14]:
drop_feature = ['CustomerID']  # it will not help in modelling

In [15]:
X = df.drop(columns='Churn')

In [16]:
Y = df['Churn']

In [17]:
categorical_feature = [i for i in X.columns if X[i].dtypes=='object']

In [18]:
numeric_feature = [i for i in X.columns if X[i].dtypes != 'object']

In [19]:
numeric_feature.remove('CustomerID')     # Removing from feature list

In [20]:
feature_Ls = numeric_feature.copy()

In [21]:
# Transformation

In [22]:
drop_transformer = ColumnTransformer(transformers=[('drop_columns','drop',drop_feature)],remainder='passthrough')

In [23]:
pipeline = Pipeline([('drop_transformer',drop_transformer)])
pipeline.fit()

TypeError: ignored

In [24]:
df['PreferredLoginDevice'].replace(['Mobile Phone','Phone'],'XPhone')

0         XPhone
1         XPhone
2         XPhone
3         XPhone
4         XPhone
          ...
5625    Computer
5626      XPhone
5627      XPhone
5628    Computer
5629      XPhone
Name: PreferredLoginDevice, Length: 5630, dtype: object

In [25]:
# Creating separate transformer for categorical and numerical data

In [26]:
numeric_transformer = Pipeline([('numeerical_mean_imputer',SimpleImputer()),('scale',StandardScaler())])

In [27]:
catergorical_transformation = Pipeline([('encoding',OneHotEncoder(drop='first')),('categorical_mode_imputer',SimpleImputer(strategy='most_frequent'))])

In [28]:
col_transformer = ColumnTransformer([('Drop','drop',drop_feature),
                                     ('numerical_transformation',numeric_transformer,numeric_feature),
                                     ('categorical_transformation',catergorical_transformation,categorical_feature)])

In [29]:
col_transformer

ColumnTransformer(transformers=[('Drop', 'drop', ['CustomerID']),
                                ('numerical_transformation',
                                 Pipeline(steps=[('numeerical_mean_imputer',
                                                  SimpleImputer()),
                                                 ('scale', StandardScaler())]),
                                 ['Tenure', 'CityTier', 'WarehouseToHome',
                                  'HourSpendOnApp', 'NumberOfDeviceRegistered',
                                  'SatisfactionScore', 'NumberOfAddress',
                                  'Complain', 'OrderAmountHikeFromlastYear',
                                  'CouponUsed', 'OrderCount',
                                  'DaySinceLastOrder', 'CashbackAmount']),
                                ('categorical_transformation',
                                 Pipeline(steps=[('encoding',
                                                  OneHotEncoder(drop='first')),
                                                 ('categorical_mode_imputer',
                                                  SimpleImputer(strategy='most_frequent'))]),
                                 ['PreferredLoginDevice',
                                  'PreferredPaymentMode', 'Gender',
                                  'PreferedOrderCat', 'MaritalStatus'])])

In [30]:
X

,CustomerID,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
0,50001,4.0,Mobile Phone,3,6.0,Debit Card,Female,3.0,3,Laptop & Accessory,2,Single,9,1,11.0,1.0,1.0,5.0,159.93
1,50002,NaN,Phone,1,8.0,UPI,Male,3.0,4,Mobile,3,Single,7,1,15.0,0.0,1.0,0.0,120.90
2,50003,NaN,Phone,1,30.0,Debit Card,Male,2.0,4,Mobile,3,Single,6,1,14.0,0.0,1.0,3.0,120.28
3,50004,0.0,Phone,3,15.0,Debit Card,Male,2.0,4,Laptop & Accessory,5,Single,8,0,23.0,0.0,1.0,3.0,134.07
4,50005,0.0,Phone,1,12.0,CC,Male,NaN,3,Mobile,5,Single,3,0,11.0,1.0,1.0,3.0,129.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5625,55626,10.0,Computer,1,30.0,Credit Card,Male,3.0,2,Laptop & Accessory,1,Married,6,0,18.0,1.0,2.0,4.0,150.71
5626,55627,13.0,Mobile Phone,1,13.0,Credit Card,Male,3.0,5,Fashion,5,Married,6,0,16.0,1.0,2.0,NaN,224.91
5627,55628,1.0,Mobile Phone,1,11.0,Debit Card,Male,3.0,2,Laptop & Accessory,4,Married,3,1,21.0,1.0,2.0,4.0,186.42
5628,55629,23.0,Computer,3,9.0,Credit Card,Male,4.0,5,Laptop & Accessory,4,Married,4,0,15.0,2.0,2.0,9.0,178.90
5629,55630,8.0,Mobile Phone,1,15.0,Credit Card,Male,3.0,2,Laptop & Accessory,3,Married,4,0,13.0,2.0,2.0,3.0,169.04

In [31]:
col_transformer.fit(X)

ColumnTransformer(transformers=[('Drop', 'drop', ['CustomerID']),
                                ('numerical_transformation',
                                 Pipeline(steps=[('numeerical_mean_imputer',
                                                  SimpleImputer()),
                                                 ('scale', StandardScaler())]),
                                 ['Tenure', 'CityTier', 'WarehouseToHome',
                                  'HourSpendOnApp', 'NumberOfDeviceRegistered',
                                  'SatisfactionScore', 'NumberOfAddress',
                                  'Complain', 'OrderAmountHikeFromlastYear',
                                  'CouponUsed', 'OrderCount',
                                  'DaySinceLastOrder', 'CashbackAmount']),
                                ('categorical_transformation',
                                 Pipeline(steps=[('encoding',
                                                  OneHotEncoder(drop='first')),
                                                 ('categorical_mode_imputer',
                                                  SimpleImputer(strategy='most_frequent'))]),
                                 ['PreferredLoginDevice',
                                  'PreferredPaymentMode', 'Gender',
                                  'PreferedOrderCat', 'MaritalStatus'])])

In [32]:
temp_X = X

In [33]:
trans_data = pd.DataFrame(col_transformer.transform(temp_X)).copy()

In [34]:
trans_data

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,-0.741002,1.469771,-1.156091,0.097069,-0.672900,-0.772992,1.852616,1.584290,-1.312273,-0.405767,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,0.000000,-0.715286,-0.916235,0.097069,0.303750,-0.048392,1.078430,1.584290,-0.197324,-0.946053,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,0.000000,-0.715286,1.722175,-1.320723,0.303750,-0.048392,0.691336,1.584290,-0.476062,-0.946053,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,-1.219847,1.469771,-0.076741,-1.320723,0.303750,1.400807,1.465523,-0.631198,2.032574,-0.946053,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,-1.219847,-0.715286,-0.436525,0.000000,-0.672900,1.400807,-0.469944,-0.631198,-1.312273,-0.405767,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5625,-0.022733,-0.715286,1.722175,0.097069,-1.649551,-1.497592,0.691336,-0.631198,0.638888,-0.405767,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
5626,0.336401,-0.715286,-0.316597,0.097069,1.280401,1.400807,0.691336,-0.631198,0.081413,-0.405767,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5627,-1.100136,-0.715286,-0.556452,0.097069,-1.649551,0.676207,-0.469944,1.584290,1.475100,-0.405767,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
5628,1.533515,1.469771,-0.796308,1.514862,1.280401,0.676207,-0.082850,-0.631198,-0.197324,0.134518,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
5629,-0.262156,-0.715286,-0.076741,0.097069,-1.649551,-0.048392,-0.082850,-0.631198,-0.754799,0.134518,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [35]:
#fill null value with mean of the respective feature

In [36]:
df['Tenure'].fillna(value = df['Tenure'].mean(),inplace=True)

In [37]:
df['WarehouseToHome'].fillna(value = df['WarehouseToHome'].mean(),inplace=True)

In [38]:
df['HourSpendOnApp'].fillna(value = df['HourSpendOnApp'].mean(),inplace=True)

In [39]:
df['OrderAmountHikeFromlastYear'].fillna(value = df['OrderAmountHikeFromlastYear'].mean(),inplace=True)

In [40]:
df['CouponUsed'].fillna(value = df['CouponUsed'].mean(),inplace=True)

In [41]:
df['OrderCount'].fillna(value = df['OrderCount'].mean(),inplace=True)

In [42]:
df['DaySinceLastOrder'].fillna(value = df['DaySinceLastOrder'].mean(),inplace=True)

In [43]:
df.isnull().sum()

CustomerID                     0
Churn                          0
Tenure                         0
PreferredLoginDevice           0
CityTier                       0
WarehouseToHome                0
PreferredPaymentMode           0
Gender                         0
HourSpendOnApp                 0
NumberOfDeviceRegistered       0
PreferedOrderCat               0
SatisfactionScore              0
MaritalStatus                  0
NumberOfAddress                0
Complain                       0
OrderAmountHikeFromlastYear    0
CouponUsed                     0
OrderCount                     0
DaySinceLastOrder              0
CashbackAmount                 0
dtype: int64

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5630 entries, 0 to 5629
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CustomerID                   5630 non-null   int64
 1   Churn                        5630 non-null   int64
 2   Tenure                       5630 non-null   float64
 3   PreferredLoginDevice         5630 non-null   object
 4   CityTier                     5630 non-null   int64
 5   WarehouseToHome              5630 non-null   float64
 6   PreferredPaymentMode         5630 non-null   object
 7   Gender                       5630 non-null   object
 8   HourSpendOnApp               5630 non-null   float64
 9   NumberOfDeviceRegistered     5630 non-null   int64
 10  PreferedOrderCat             5630 non-null   object
 11  SatisfactionScore            5630 non-null   int64
 12  MaritalStatus                5630 non-null   object
 13  NumberOfAddress              5630 non-null   int64
 14  Complain                     5630 non-null   int64
 15  OrderAmountHikeFromlastYear  5630 non-null   float64
 16  CouponUsed                   5630 non-null   float64
 17  OrderCount                   5630 non-null   float64
 18  DaySinceLastOrder            5630 non-null   float64
 19  CashbackAmount               5630 non-null   float64
dtypes: float64(8), int64(7), object(5)
memory usage: 879.8+ KB

In [45]:
#Categorical feature

In [46]:
cat_col = [i for i in df.columns if df[i].dtypes == 'object']

In [47]:
cat_col

['PreferredLoginDevice',
 'PreferredPaymentMode',
 'Gender',
 'PreferedOrderCat',
 'MaritalStatus']

In [48]:
num_col = [i for i in df.columns if df[i].dtypes != 'object']

In [49]:
df[cat_col]

,PreferredLoginDevice,PreferredPaymentMode,Gender,PreferedOrderCat,MaritalStatus
0,Mobile Phone,Debit Card,Female,Laptop & Accessory,Single
1,Phone,UPI,Male,Mobile,Single
2,Phone,Debit Card,Male,Mobile,Single
3,Phone,Debit Card,Male,Laptop & Accessory,Single
4,Phone,CC,Male,Mobile,Single
...,...,...,...,...,...
5625,Computer,Credit Card,Male,Laptop & Accessory,Married
5626,Mobile Phone,Credit Card,Male,Fashion,Married
5627,Mobile Phone,Debit Card,Male,Laptop & Accessory,Married
5628,Computer,Credit Card,Male,Laptop & Accessory,Married
5629,Mobile Phone,Credit Card,Male,Laptop & Accessory,Married

In [50]:
enc = OneHotEncoder()

In [51]:
loginDevice = df[['PreferredLoginDevice']]

In [52]:
PreferredLoginDevice = pd.get_dummies(loginDevice)

In [53]:
PreferredLoginDevice.isnull().sum()

PreferredLoginDevice_Computer        0
PreferredLoginDevice_Mobile Phone    0
PreferredLoginDevice_Phone           0
dtype: int64

In [54]:
paymentMode = df[['PreferredPaymentMode']]

In [55]:
PreferredPaymentMode = pd.get_dummies(paymentMode)

In [56]:
gen = df[['Gender']]

In [57]:
gender = pd.get_dummies(gen)

In [58]:
Ordercat = df[['PreferedOrderCat']]

In [59]:
PreferedOrderCat = pd.get_dummies(Ordercat)

In [60]:
Marital = df[['MaritalStatus']]

In [61]:
MaritalStatus = pd.get_dummies(Marital)

In [62]:
dff = pd.concat([PreferredLoginDevice,PreferredPaymentMode,gender,PreferedOrderCat,MaritalStatus,df[num_col]],axis = 1)

In [63]:
dff

,PreferredLoginDevice_Computer,PreferredLoginDevice_Mobile Phone,PreferredLoginDevice_Phone,PreferredPaymentMode_CC,PreferredPaymentMode_COD,PreferredPaymentMode_Cash on Delivery,PreferredPaymentMode_Credit Card,PreferredPaymentMode_Debit Card,PreferredPaymentMode_E wallet,PreferredPaymentMode_UPI,...,HourSpendOnApp,NumberOfDeviceRegistered,SatisfactionScore,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
0,0,1,0,0,0,0,0,1,0,0,...,3.000000,3,2,9,1,11.0,1.0,1.0,5.000000,159.93
1,0,0,1,0,0,0,0,0,0,1,...,3.000000,4,3,7,1,15.0,0.0,1.0,0.000000,120.90
2,0,0,1,0,0,0,0,1,0,0,...,2.000000,4,3,6,1,14.0,0.0,1.0,3.000000,120.28
3,0,0,1,0,0,0,0,1,0,0,...,2.000000,4,5,8,0,23.0,0.0,1.0,3.000000,134.07
4,0,0,1,1,0,0,0,0,0,0,...,2.931535,3,5,3,0,11.0,1.0,1.0,3.000000,129.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5625,1,0,0,0,0,0,1,0,0,0,...,3.000000,2,1,6,0,18.0,1.0,2.0,4.000000,150.71
5626,0,1,0,0,0,0,1,0,0,0,...,3.000000,5,5,6,0,16.0,1.0,2.0,4.543491,224.91
5627,0,1,0,0,0,0,0,1,0,0,...,3.000000,2,4,3,1,21.0,1.0,2.0,4.000000,186.42
5628,1,0,0,0,0,0,1,0,0,0,...,4.000000,5,4,4,0,15.0,2.0,2.0,9.000000,178.90
5629,0,1,0,0,0,0,1,0,0,0,...,3.000000,2,3,4,0,13.0,2.0,2.0,3.000000,169.04

In [64]:
x = dff.drop(columns='Churn')

In [65]:
y = dff['Churn']

In [66]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=144)

In [67]:
# model training

In [68]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import roc_auc_score,recall_score,precision_score,confusion_matrix

In [69]:
model_randf = RandomForestClassifier()

In [70]:
model_randf.fit(x_train,y_train)

RandomForestClassifier()

In [71]:
y_pred_rand = model_randf.predict(x_test)

In [72]:
confusion_matrix(y_test,y_pred_rand)

array([[942,   5],
       [ 45, 134]])

In [73]:
roc_auc_score(y_test,y_pred_rand)

0.8716617604549504

In [74]:
model_grad = GradientBoostingClassifier()

In [75]:
model_grad.fit(x_train,y_train)

GradientBoostingClassifier()

In [76]:
y_pred_Gd = model_grad.predict(x_test)

In [77]:
confusion_matrix(y_test,y_pred_Gd)

array([[925,  22],
       [ 73, 106]])

In [78]:
roc_auc_score(y_test,y_pred_Gd)

0.7844737571749659

In [79]:
import xgboost as xgb

In [80]:
model_xgb = xgb.XGBClassifier()

In [88]:
model_xgb.fit(x_train,y_train)

XGBClassifier()

In [89]:
y_pred_xgb = model_xgb.predict(x_test)

In [90]:
confusion_matrix(y_test,y_pred_xgb)

array([[924,  23],
       [ 70, 109]])

In [91]:
roc_auc_score(y_test,y_pred_xgb)

0.7923256623385818

In [92]:
param_grid_cv = {
    'n_estimators':[5,10,20,100],

    'booster':['gbtree', 'gblinear' , 'dart'],
    'min_child_weight': [1, 5, 10],
    'gamma': [0.5, 1, 1.5, 2, 5],
    'subsample': [0.6, 0.8, 1.0],
    'colsample_bytree': [0.6, 0.8, 1.0],
    'max_depth': [3, 4, 5]
}

Hypertunning

In [93]:
from sklearn.model_selection import GridSearchCV

In [94]:
model_grid_xgb = GridSearchCV(estimator=xgb.XGBClassifier(),param_grid=param_grid_cv,n_jobs=-1, cv=4)

In [ ]:
model_grid_xgb.fit(x_train,y_train)

In [96]:
model_grid_xgb.best_params_

{'booster': 'dart',
 'colsample_bytree': 1.0,
 'gamma': 1,
 'max_depth': 5,
 'min_child_weight': 1,
 'n_estimators': 100,
 'subsample': 0.8}

In [97]:
y_pred_grid_xgb = model_grid_xgb.predict(x_test)

In [99]:
confusion_matrix(y_test,y_pred_grid_xgb)

array([[933,  14],
       [ 52, 127]])

In [98]:
roc_auc_score(y_test,y_pred_grid_xgb)

0.8473568398883861